pipeline/adfdemo_asql_employee1.json
{
	"name": "adfdemo_asql_employee1",
	"properties": {
		"activities": [
			{
				"name": "Get files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "adfdemo_employee_dataset",
						"type": "DatasetReference",
						"parameters": {
							"container": "adfdemo",
							"directory": "employee",
							"file": " ",
							"sheet": " "
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEach files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get files').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Get Metadata of file",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{'adfdemo'}/@{'employee'}/@{item().name}"
								},
								{
									"name": "Destination",
									"value": "@{'dbo'}.@{'employee1'}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"additionalColumns": [
										{
											"name": "filename",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										},
										{
											"name": "last_modifty_time",
											"value": {
												"value": "@activity('Get Metadata of file').output.lastModified",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "filename",
												"type": "String"
											},
											"sink": {
												"name": "filename",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "id",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "id",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "name",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "last_modifty_time",
												"type": "String"
											},
											"sink": {
												"name": "last_modifty_time",
												"type": "DateTime",
												"physicalType": "datetime"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "adfdemo_employee_dataset",
									"type": "DatasetReference",
									"parameters": {
										"container": "adfdemo",
										"directory": "employee",
										"file": {
											"value": "@item().name",
											"type": "Expression"
										},
										"sheet": "sheet1"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "adfdemo_to_asql",
									"type": "DatasetReference",
									"parameters": {
										"Schema": "dbo",
										"table": "employee1"
									}
								}
							]
						},
						{
							"name": "Get Metadata of file",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "adfdemo_employee_dataset",
									"type": "DatasetReference",
									"parameters": {
										"container": "adfdemo",
										"directory": "employee",
										"file": {
											"value": "@item().name",
											"type": "Expression"
										},
										"sheet": " "
									}
								},
								"fieldList": [
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "pipeline_tx"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-20T07:10:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}