pipeline/Apipeline_test.json
{
	"name": "Apipeline_test",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"enableStaging": false
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('arraylist')",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(int(item()), 3)\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.arrayt",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable8",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "t1",
								"value": {
									"value": "@int(item())",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If Condition2",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Set variable8",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(variables('t1'),variables('t2'))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Set variable11",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "array",
											"value": {
												"value": "@union(variables('array2'),array(variables('t1')))",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set variable12",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Set variable11",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "array2",
											"value": {
												"value": "@variables('array')",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Set variable9",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Set variable14",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "t2",
											"value": {
												"value": "@variables('t1')",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set variable13",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "array",
											"value": {
												"value": "@union(variables('array2'),array(variables('t2')))",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set variable14",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Set variable13",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "array2",
											"value": {
												"value": "@variables('array')",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Get FileList",
				"type": "GetMetadata",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "adf_blob_fzx",
						"type": "DatasetReference",
						"parameters": {
							"containname": "adfdemo",
							"foldername": "Sales_fzx",
							"filename": " "
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEachFileList",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Get FileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get FileList').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable3",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "filename",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data2",
							"type": "Copy",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "Set variable3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": "Sales_fzx",
										"wildcardFileName": {
											"value": "@pipeline().parameters.Filename",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true
									},
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"value": "@activity('Get FileList').output.structure",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "adf_blob_fzx",
									"type": "DatasetReference",
									"parameters": {
										"containname": "adfdemo",
										"foldername": "Sales_fzx",
										"filename": "2016年订单数据.xlsx"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "adf_mssql_fzx",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "dbo",
										"TableName": "Orders"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Script1",
				"type": "Script",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "adf_localsql_fzx",
					"type": "LinkedServiceReference",
					"parameters": {
						"hostname": "SHOKA",
						"dbname": "SSIS"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Set variable4",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Get FileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "arraylist",
					"value": {
						"value": "@activity('Get FileList').output.childItems",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get_Table_List",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT N'产品数据.xlsx' AS ExcelName,'Product' AS TableName, N'产品数据' AS FolderName\nUNION ALL\nSELECT N'订单数据.xlsx' AS ExcelName,'OrderT' AS TableName, N'订单数据' AS FolderName\nUNION ALL\nSELECT N'地点数据.xlsx' AS ExcelName,'Area' AS TableName, N'地点数据' AS FolderName\nUNION ALL\nSELECT N'客户数据.xlsx' AS ExcelName,'Customer' AS TableName, N'客户数据' AS FolderName",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "adf_asql_dataset_fzx",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_TableList",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Get_Table_List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_Table_List').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Insert_Data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"additionalColumns": [
										{
											"name": "InsertDate",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										},
										{
											"name": "UpdateDate",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@concat(pipeline().parameters.FolderName,'/',item().FolderName)",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@concat(pipeline().parameters.FileName,'.',pipeline().parameters.FileType)\n",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"preCopyScript": {
										"value": "@concat('Truncate Table dbo.',item().TableName)",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "adf_blob_fzx",
									"type": "DatasetReference",
									"parameters": {
										"containname": {
											"value": "@pipeline().parameters.ContainName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "adf_mssql_fzx",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@pipeline().parameters.SchemeName",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Until1",
				"type": "Until",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "Get FileList_copy1",
				"type": "GetMetadata",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "adf_blob_fzx",
						"type": "DatasetReference",
						"parameters": {
							"containname": "adfdemo",
							"foldername": "Sales_fzx",
							"filename": " "
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEach2",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Get FileList_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get FileList_copy1').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Switch2",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item()",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "Case1"
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Set variable5",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "filename",
					"value": ""
				}
			},
			{
				"name": "Set variable16",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "array2",
					"value": []
				}
			},
			{
				"name": "Set variable17",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable16",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "arraylist",
					"value": {
						"value": "@split(replace(replace(string(variables('array')),'[0,',''),']',''),',')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable18",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable17",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "array2",
					"value": []
				}
			},
			{
				"name": "Set variable19",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable18",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "a1",
					"value": {
						"value": "@union(variables('a2'),array(variables('t2')))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable20",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable19",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "a2",
					"value": {
						"value": "@variables('a1')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable21",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable20",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "array",
							"value": {
								"type": "Expression",
								"content": "@variables('arraylist')"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"parameters": {
			"DBName": {
				"type": "string",
				"defaultValue": "test"
			},
			"HostName": {
				"type": "string",
				"defaultValue": "SHOKA"
			},
			"SchemeName": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"ContainName": {
				"type": "string",
				"defaultValue": "adfdemo"
			},
			"FolderName": {
				"type": "string",
				"defaultValue": "ssisfile"
			},
			"FileType": {
				"type": "string",
				"defaultValue": "xlsx"
			},
			"FileName": {
				"type": "string",
				"defaultValue": "*"
			},
			"arrayt": {
				"type": "array"
			}
		},
		"variables": {
			"filename": {
				"type": "String",
				"defaultValue": "test"
			},
			"arraylist": {
				"type": "Array",
				"defaultValue": [
					"11",
					"2",
					"7"
				]
			},
			"test": {
				"type": "Array"
			},
			"array": {
				"type": "Array",
				"defaultValue": []
			},
			"array2": {
				"type": "Array",
				"defaultValue": []
			},
			"t1": {
				"type": "Integer"
			},
			"t2": {
				"type": "Integer",
				"defaultValue": 0
			},
			"t3": {
				"type": "String"
			},
			"t4": {
				"type": "String"
			},
			"a1": {
				"type": "Array",
				"defaultValue": []
			},
			"a2": {
				"type": "Array",
				"defaultValue": []
			}
		},
		"folder": {
			"name": "pipeline_fzx"
		},
		"annotations": [],
		"lastPublishTime": "2025-01-06T06:43:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}