pipeline/asql_to_asql_increment.json
{
	"name": "asql_to_asql_increment",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select isnull(max(last_modify_time),'1900-01-01') max_last_modify_time from dbo.employee_stg",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "adfdemo_asql_emp_stg",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"table": "employee_stg"
						}
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "@{'dbo'}.@{'employee_src'}"
					},
					{
						"name": "Destination",
						"value": "@{'dbo'}.@{'employee_stg'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.employee_stg where file_last_modifty_time > '@{activity('Lookup1').output.firstRow.max_last_modify_time}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": false,
							"keys": [
								"id"
							],
							"interimSchemaName": "dbo"
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "file_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "file_name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "file_last_modifty_time",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "file_last_modifty_time",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "product_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "product_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "qty",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "qty",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "unit_price",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "unit_price",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "subtotal",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "subtotal",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "adfdemo_asql_emp_src",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"table": "employee_src"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "adfdemo_asql_ds_salesx",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"table": "adfdemo_salesx"
						}
					}
				]
			}
		],
		"folder": {
			"name": "pipeline_xwx"
		},
		"annotations": [],
		"lastPublishTime": "2024-12-10T06:49:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}