pipeline/asql_to_csv_bank_yz.json
{
	"name": "asql_to_csv_bank_yz",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select N'2016年订单数据' as Filename\r\nunion all\r\nselect N'2017年订单数据'\r\nunion all\r\nselect N'2018年订单数据'\r\nunion all\r\nselect N'2019年订单数据'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_asql_yz",
						"type": "DatasetReference",
						"parameters": {
							"TableNameWithSchema": "dbo.order_data_yz"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Delete1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_asql_yz",
									"type": "DatasetReference",
									"parameters": {
										"TableNameWithSchema": {
											"value": "@pipeline().parameters.Tablename",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "asql_to_csv_yz",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.Container",
											"type": "Expression"
										},
										"directory": {
											"value": "@pipeline().parameters.Directory",
											"type": "Expression"
										},
										"file": {
											"value": "@concat(item().Filename,'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete1",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "asql_to_csv_yz",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.Container",
											"type": "Expression"
										},
										"directory": {
											"value": "@pipeline().parameters.Directory",
											"type": "Expression"
										},
										"file": {
											"value": "@concat(item().Filename,'.csv')",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Container": {
				"type": "string",
				"defaultValue": "adfdemo"
			},
			"Directory": {
				"type": "string",
				"defaultValue": "ssisfile/订单数据"
			},
			"Tablename": {
				"type": "string",
				"defaultValue": "dbo.order_data_yz"
			}
		},
		"folder": {
			"name": "pipeline_yz"
		},
		"annotations": [],
		"lastPublishTime": "2024-12-12T07:08:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}