pipeline/filter_foreachDemo.json
{
	"name": "filter_foreachDemo",
	"properties": {
		"activities": [
			{
				"name": "animalsArrayFilter",
				"type": "Filter",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.animalsArray",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item(), 'Dog')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "numsArrayFilter",
				"type": "Filter",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.numsArray",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(item(),3)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "itemsArrayFilter",
				"type": "Filter",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.itemsArray",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(int(item().value),2)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "numsArrayFilter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('numsArrayFilter').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "animal",
								"value": {
									"value": "@string(item())",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Switch1",
				"type": "Switch",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@variables('route')",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "A",
							"activities": [
								{
									"name": "Set variable2",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "name",
										"value": "1"
									}
								}
							]
						},
						{
							"value": "B",
							"activities": [
								{
									"name": "Set variable4",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "name",
										"value": "2"
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "Set variable3",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "name",
								"value": "0"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"animalsArray": {
				"type": "array",
				"defaultValue": [
					"Dog",
					"Cat",
					"Bear",
					"Bird"
				]
			},
			"numsArray": {
				"type": "array",
				"defaultValue": [
					1,
					2,
					3,
					4,
					5,
					6
				]
			},
			"itemsArray": {
				"type": "array",
				"defaultValue": [
					{
						"name": "name1",
						"value": "1"
					},
					{
						"name": "name2",
						"value": "2"
					},
					{
						"name": "name3",
						"value": "3"
					}
				]
			}
		},
		"variables": {
			"animal": {
				"type": "String"
			},
			"route": {
				"type": "String",
				"defaultValue": "A"
			},
			"name": {
				"type": "String"
			}
		},
		"folder": {
			"name": "pipeline_cjw"
		},
		"annotations": [],
		"lastPublishTime": "2025-08-13T09:54:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}