pipeline/folder_to_asql_loop_backup_xsales_reusable.json
{
	"name": "folder_to_asql_loop_backup_xsales_reusable",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "adfdemo_blob_ds_saless",
						"type": "DatasetReference",
						"parameters": {
							"container": "adfdemo",
							"directory": {
								"value": "@concat('xsalex/',pipeline().parameters.directory)",
								"type": "Expression"
							},
							"file": " ",
							"sheet": " "
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name,'.xlsx')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "folder_to_asql_reusable",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"item": {
										"value": "@item()",
										"type": "Expression"
									},
									"directory": {
										"value": "@pipeline().parameters.directory",
										"type": "Expression"
									},
									"tablename": {
										"value": "@pipeline().parameters.tablename",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"directory": {
				"type": "string",
				"defaultValue": "productdata"
			},
			"tablename": {
				"type": "string",
				"defaultValue": "xproductdata"
			}
		},
		"variables": {
			"isSuccess": {
				"type": "Boolean",
				"defaultValue": true
			}
		},
		"folder": {
			"name": "pipeline_xwx"
		},
		"annotations": [],
		"lastPublishTime": "2023-11-29T02:57:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}