pipeline/increament_loop_blob_excel_to_asql_adfdemo_stg_sales_wxh.json
{
	"name": "increament_loop_blob_excel_to_asql_adfdemo_stg_sales_wxh",
	"properties": {
		"activities": [
			{
				"name": "Lookup max lastModifyTime",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select isnull(max([file_last_modifty_time]),'1900-01-01' )as Max_file_last_modifty_time from [dbo].[adfdemo_stg_sale_wxh]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "adfdemo_asql_dataset_ds_wxh",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"table": "adfdemo_stg_sale_wxh"
						}
					}
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Lookup max lastModifyTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "adfdemo_stroage_ds_wxh",
						"type": "DatasetReference",
						"parameters": {
							"container": "adfdemo",
							"dirtory": "Sales_jbl",
							"file": "Sales_2020.xlsx",
							"sheet": "Sheet1"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeStart": {
							"value": "@addSeconds(addHours(activity('Lookup max lastModifyTime').output.firstRow.Max_file_last_modifty_time,-8),+1)",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Metadate Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadate Files').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name,'.xlsx')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata2",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "adfdemo_stroage_ds_wxh",
									"type": "DatasetReference",
									"parameters": {
										"container": "adfdemo",
										"dirtory": "Sales_jbl",
										"file": {
											"value": "@item().name",
											"type": "Expression"
										},
										"sheet": "Sheet1"
									}
								},
								"fieldList": [
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Get Metadata2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{'adfdemo'}/@{'Sales_jbl'}/@{item().name}"
								},
								{
									"name": "Destination",
									"value": "@{'dbo'}.@{'adfdemo_stg_sale_wxh'}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"additionalColumns": [
										{
											"name": "file_name",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										},
										{
											"name": "file_last_modifty_time",
											"value": {
												"value": "@addHours(activity('Get Metadata2').output.lastModified,8)",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "file_name",
												"type": "String"
											},
											"sink": {
												"name": "file_name",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "file_last_modifty_time",
												"type": "String"
											},
											"sink": {
												"name": "file_last_modifty_time",
												"type": "DateTime",
												"physicalType": "datetime"
											}
										},
										{
											"source": {
												"name": "product_id",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "product_id",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "qty",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "qty",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "unit_price",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "unit_price",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 4,
												"precision": 19
											}
										},
										{
											"source": {
												"name": "subtotal",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "subtotal",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 4,
												"precision": 19
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "adfdemo_stroage_ds_wxh",
									"type": "DatasetReference",
									"parameters": {
										"container": "adfdemo",
										"dirtory": "Sales_jbl",
										"file": {
											"value": "@item().name",
											"type": "Expression"
										},
										"sheet": "Sheet1"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "adfdemo_asql_dataset_ds_wxh",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "adfdemo_stg_sale_wxh"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Get Metadate Files",
				"description": "筛选获取元数据，通过对比Lookup中的时间和元数据中的时间",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Lookup max lastModifyTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "adfdemo_storage_datdaset_jbl",
						"type": "DatasetReference",
						"parameters": {
							"container": "adfdemo",
							"directory": "Sales_jbl",
							"file": " ",
							"sheet": " "
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeStart": {
							"value": "@addSeconds(addHours(activity('Lookup max lastModifyTime').output.firstRow.Max_file_last_modifty_time,-8),+1)",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"folder": {
			"name": "pipeline_wxh"
		},
		"annotations": [],
		"lastPublishTime": "2025-12-02T06:10:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}