pipeline/increament_asql_to_asql_data_source_table_xyz.json
{
	"name": "increament_asql_to_asql_data_source_table_xyz",
	"properties": {
		"activities": [
			{
				"name": "Lookup Max LastModifyTime",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select isnull(max(LastModifytime),'1900-01-01') max_file_last_modifty_time from  dbo.data_destination_destination_jbl",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "adfdemo_asql_dataset_xyz",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "data_destination_destination_jbl",
							"schmeName": "dbo"
						}
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup Max LastModifyTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from data_destination_table_jbl where LastModifytime >\n'@{activity('Lookup Max LastModifyTime').output.firstRow.max_file_last_modifty_time}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "adfdemo_asql_dataset_src_jbl",
						"type": "DatasetReference",
						"parameters": {
							"schame": "dbo",
							"table": "data_destination_table_jbl"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "adfdemo_asql_dataset_xyz",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "data_destination_table_jbl",
							"schmeName": "dbo"
						}
					}
				]
			}
		],
		"folder": {
			"name": "Pipeline_xyz"
		},
		"annotations": [],
		"lastPublishTime": "2025-12-12T03:32:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}