pipeline/IncrementalCopyPipeline2.json
{
	"name": "IncrementalCopyPipeline2",
	"properties": {
		"activities": [
			{
				"name": "IterateSQLTables",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.tableList",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "LookupOldWaterMarkActivity",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from watermarktable where TableName =  '@{item().TABLE_NAME}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "WatermarkDataset_dbw",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "dbo",
										"TableName": "watermarktable"
									}
								}
							}
						},
						{
							"name": "LookupNewWaterMarkActivity",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select MAX(@{item().WaterMark_Column}) as NewWatermarkvalue from @{item().TABLE_NAME}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SourceDataset2_dbw",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "IncrementalCopyActivity",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "LookupOldWaterMarkActivity",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "LookupNewWaterMarkActivity",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select * from @{item().TABLE_NAME} where @{item().WaterMark_Column} > '@{activity('LookupOldWaterMarkActivity').output.firstRow.WatermarkValue}' and @{item().WaterMark_Column} <= '@{activity('LookupNewWaterMarkActivity').output.firstRow.NewWatermarkvalue}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"sqlWriterStoredProcedureName": {
										"value": "@{item().StoredProcedureNameForMergeOperation}",
										"type": "Expression"
									},
									"sqlWriterTableType": {
										"value": "@{item().TableType}",
										"type": "Expression"
									},
									"storedProcedureTableTypeParameterName": {
										"value": "@{item().TABLE_NAME}",
										"type": "Expression"
									},
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SourceDataset2_dbw",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "SinkDataset2_dbw",
									"type": "DatasetReference",
									"parameters": {
										"SinkTableName": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										},
										"SchemaName": "dbo"
									}
								}
							]
						},
						{
							"name": "StoredProceduretoWriteWatermarkActivity",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "IncrementalCopyActivity",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_write_watermark]",
								"storedProcedureParameters": {
									"LastModifiedtime": {
										"value": {
											"value": "@activity('LookupNewWaterMarkActivity').output.firstRow.NewWatermarkvalue",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"TableName": {
										"value": {
											"value": "@activity('LookupOldWaterMarkActivity').output.firstRow.TableName",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabaseLinkedService_dbw",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": "sqldevswcd",
									"UserName": "cdstx",
									"Password": "1qaz!QAZ",
									"FQDN": "azuresqlstxserver.database.windows.net"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"tableList": {
				"type": "array"
			}
		},
		"folder": {
			"name": "pipeline_dbw"
		},
		"annotations": [],
		"lastPublishTime": "2024-10-28T08:33:41Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}