pipeline/increasement_asql_to_asql_data_source_table.json
{
	"name": "increasement_asql_to_asql_data_source_table",
	"properties": {
		"activities": [
			{
				"name": "Lookup MaxLastModifyTime",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select isnull(max(LastModifytime),'1900-01-01') MaxLastModifytime from dbo.data_destination_table_wqw;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "adfdemo_asql_src_wqw",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "dbo",
							"tableName": "data_source_table_wqw"
						}
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup MaxLastModifyTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "@{'dbo'}.@{'data_source_table_wqw'}"
					},
					{
						"name": "Destination",
						"value": "@{'dbo'}.@{'data_destination_table_wqw'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "Select * from dbo.data_source_table_wqw where LastModifytime>\n'@{activity('Lookup MaxLastModifyTime').output.firstRow.MaxLastModifytime}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "adfdemo_asql_src_wqw",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "dbo",
							"tableName": "data_source_table_wqw"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "adfdemo_asql_dataset_wqw",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "data_destination_table_wqw",
							"schemaName": "dbo"
						}
					}
				]
			}
		],
		"folder": {
			"name": "pipeline_wqw"
		},
		"annotations": [],
		"lastPublishTime": "2025-08-14T06:58:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}