pipeline/incresment_to_asql_copy2.json
{
	"name": "incresment_to_asql_copy2",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select isnull(max([file_last_modifty_time]),'1900-01-01') max_last_modify_time from [dbo].[adfdemo_stg_sales_yz]select isnull(max([file_last_modifty_time]),'1900-01-01') max_last_modify_time from [dbo].[adfdemo_stg_sales_yz]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "asql_lookup_yz",
						"type": "DatasetReference",
						"parameters": {
							"tableNmae": "adfdemo_stg_sales_yz"
						}
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from adfdemo_stg_sales_yz where file_last_modifty_time > '@{activity('Lookup1').output.firstRow.max_last_modify_time}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "file_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "file_name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "file_last_modifty_time",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "file_last_modifty_time",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "product_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "product_id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "qty",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "qty",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "unit_price",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "unit_price",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "subtotal",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "subtotal",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "asql_lookup_yz",
						"type": "DatasetReference",
						"parameters": {
							"tableNmae": "adfdemo_stg_sales_yz"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_asql_yz",
						"type": "DatasetReference",
						"parameters": {
							"TableNameWithSchema": "dbo.order_data_yz"
						}
					}
				]
			}
		],
		"folder": {
			"name": "pipeline_yz"
		},
		"annotations": [],
		"lastPublishTime": "2024-12-12T06:46:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}