pipeline/increament_asql_to_asql.json
{
	"name": "increament_asql_to_asql",
	"properties": {
		"activities": [
			{
				"name": "Lookup LastModifyTime",
				"description": "在表中查找最大修改时间目标",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select isnull(max(LastModifytime),'1900-01-01') max_file_last_modifty_time from  dbo.data_destination_destination_jbl",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "adfdemo_asql_dataset_jbl",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"table": "data_destination_destination_jbl"
						}
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup LastModifyTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "@{'dbo'}.@{'data_destination_table_jbl'}"
					},
					{
						"name": "Destination",
						"value": "@{'dbo'}.@{'data_destination_destination_jbl'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from data_destination_table_jbl where LastModifytime > \n'@{activity('Lookup LastModifyTime').output.firstRow.max_file_last_modifty_time}' ",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "PersonID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PersonID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "LastModifytime",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LastModifytime",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "adfdemo_asql_dataset_src_jbl",
						"type": "DatasetReference",
						"parameters": {
							"schame": "dbo",
							"table": "data_destination_table_jbl"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "adfdemo_asql_dataset_jbl",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"table": "data_destination_destination_jbl"
						}
					}
				]
			}
		],
		"folder": {
			"name": "pipeline_jbl"
		},
		"annotations": [],
		"lastPublishTime": "2025-12-12T02:48:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}