pipeline/Lookup.json
{
	"name": "Lookup",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select schema_name(schema_id)+'.'+name as Name\nfrom sys.tables\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "adfdemo_asql_dataset_ds_wxh",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"table": "config_wxh"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_LogTBNames]",
					"storedProcedureParameters": {
						"TableName": {
							"value": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "sqldb_dw_wxh",
					"type": "LinkedServiceReference",
					"parameters": {
						"server": "azuresqlstxserver.database.windows.net",
						"dbName": "adfstudy",
						"uerName": "cdstx",
						"pwd": "1qaz!QAZ"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TableName",
					"value": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Stored procedure2",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_LogTBNames]",
								"storedProcedureParameters": {
									"TableName": {
										"value": {
											"value": "@item().Name",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "sqldb_dw_wxh",
								"type": "LinkedServiceReference",
								"parameters": {
									"server": "azuresqlstxserver.database.windows.net",
									"dbName": "adfstudy",
									"uerName": "cdstx",
									"pwd": "1qaz!QAZ"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"TableName": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "pipeline_wxh"
		},
		"annotations": [],
		"lastPublishTime": "2024-12-25T08:20:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}