pipeline/loop_adfdemo_get_sales.json
{
	"name": "loop_adfdemo_get_sales",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "adfdemo_dataset_sales_lrs",
						"type": "DatasetReference",
						"parameters": {
							"container": "adfdemo",
							"file": "*",
							"directory": "Sales_lrs"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEach files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata files').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Get Metadata lastmodify",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"additionalColumns": [
										{
											"name": "filename",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										},
										{
											"name": "lastmodified",
											"value": {
												"value": "@addHours(activity('Get Metadata lastmodify').output.lastModified,8)",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "filename",
												"type": "String"
											},
											"sink": {
												"name": "filename",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "product",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "product",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "price",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "price",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "count",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "count",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "lastmodified",
												"type": "String"
											},
											"sink": {
												"name": "lastmodified",
												"type": "DateTime",
												"physicalType": "datetime"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "adfdemo_dataset_sales_lrs",
									"type": "DatasetReference",
									"parameters": {
										"container": "adfdemo",
										"sheetName": "sheet1",
										"file": {
											"value": "@item().name",
											"type": "Expression"
										},
										"directory": "Sales_lrs"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "adfdemo_asql_sales_lrs",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "sales_lrs"
									}
								}
							]
						},
						{
							"name": "Get Metadata lastmodify",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "adfdemo_dataset_sales_lrs",
									"type": "DatasetReference",
									"parameters": {
										"container": "adfdemo",
										"file": {
											"value": "@item().name",
											"type": "Expression"
										},
										"directory": "Sales_lrs"
									}
								},
								"fieldList": [
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "pipeline_lrs"
		},
		"annotations": [],
		"lastPublishTime": "2025-08-14T06:38:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}