pipeline/Master_Template.json
{
	"name": "Master_Template",
	"properties": {
		"activities": [
			{
				"name": "SRC To ODS",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get BatchId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(1, 1)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "SRC Demo",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Copy_Multiple_Tables_Template",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"BusinessSystem": {
										"value": "@pipeline().parameters.ETLProjectName",
										"type": "Expression"
									},
									"BatchId": {
										"value": "@activity('Get BatchId').output.pipelineReturnValue.BatchId",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Master Child L2",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "SRC Demo",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Master_Child_L2_Template",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"ParentBatchId": {
										"value": "@activity('Get BatchId').output.pipelineReturnValue.BatchId",
										"type": "Expression"
									},
									"Caller": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "ODS To FACT",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ODS To DIM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(1, 1)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ODS To DIM",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "SRC To ODS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(1, 1)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get BatchId",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ETL_Batch_Get",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ETLProjectName": {
							"value": "@pipeline().parameters.ETLProjectName",
							"type": "Expression"
						},
						"Caller": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set Batch Success",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ODS To FACT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ETL_Batch_State_Set",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"BatchId": {
							"value": "@activity('Get BatchId').output.pipelineReturnValue.BatchId",
							"type": "Expression"
						},
						"StateId": "2"
					}
				}
			},
			{
				"name": "Set Batch Failed",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ODS To FACT",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ETL_Batch_State_Set",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"BatchId": {
							"value": "@activity('Get BatchId').output.pipelineReturnValue.BatchId",
							"type": "Expression"
						},
						"StateId": "3"
					}
				}
			},
			{
				"name": "Set Batch Failed_copy1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SRC To ODS",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ETL_Batch_State_Set",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"BatchId": {
							"value": "@activity('Get BatchId').output.pipelineReturnValue.BatchId",
							"type": "Expression"
						},
						"StateId": "3"
					}
				}
			},
			{
				"name": "Set Batch Failed_copy2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ODS To DIM",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ETL_Batch_State_Set",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"BatchId": {
							"value": "@activity('Get BatchId').output.pipelineReturnValue.BatchId",
							"type": "Expression"
						},
						"StateId": "3"
					}
				}
			}
		],
		"parameters": {
			"ETLProjectName": {
				"type": "string",
				"defaultValue": "demo"
			}
		},
		"variables": {
			"FailArray": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "0-Template Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2024-11-06T09:19:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}