pipeline/pipeline_loop_excel_to_asql_adfdemo_adfdemo_stg_sales_mhy.json
{
	"name": "pipeline_loop_excel_to_asql_adfdemo_adfdemo_stg_sales_mhy",
	"properties": {
		"activities": [
			{
				"name": "Get Files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "adfdemo_storage_ds_mhy",
						"type": "DatasetReference",
						"parameters": {
							"container": "adfdemo",
							"directory": "Sales"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEach Files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Files').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Get Metadata of File",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{'<container>'}/@{'<directory>'}/@{'<file>'}"
								},
								{
									"name": "Destination",
									"value": "@{'dbo'}.@{'adfdemo_stg_sales_mhy'}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"additionalColumns": [
										{
											"name": "file_name",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										},
										{
											"name": "file_last_modify_time",
											"value": {
												"value": "@activity('Get Files').output.lastModified",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "file_name",
												"type": "String"
											},
											"sink": {
												"name": "file_name",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "file_last_modify_time",
												"type": "String"
											},
											"sink": {
												"name": "file_last_modifty_time",
												"type": "DateTime",
												"physicalType": "datetime"
											}
										},
										{
											"source": {
												"name": "Id",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "product_id",
												"type": "Int32",
												"physicalType": "int"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "adfdemo_storage_ds_mhy",
									"type": "DatasetReference",
									"parameters": {
										"container": "adfdemo",
										"directory": "Sales",
										"file": "Sales_2020.xlsx",
										"sheet": "Sheet1"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "adfdemo_asql_ds_mhy",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": "dbo",
										"table": "adfdemo_stg_sales_mhy"
									}
								}
							]
						},
						{
							"name": "Get Metadata of File",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "adfdemo_storage_ds_mhy",
									"type": "DatasetReference",
									"parameters": {
										"container": "adfdemo",
										"directory": "Sales",
										"file": {
											"value": "@item().name",
											"type": "Expression"
										},
										"sheet": "Sheet1"
									}
								},
								"fieldList": [
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "pipeline_mhy"
		},
		"annotations": [],
		"lastPublishTime": "2024-12-27T09:24:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}