pipeline/pipeline_increament_loop_asql_to_asql_data_source_table.json
{
	"name": "pipeline_increament_loop_asql_to_asql_data_source_table",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Get Max LastModifytime Of Destination",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select ISNULL(max(LastModifytime),'1900-01-01') as MaxLastModifytime from @{concat(variables('SchemaNameOfDestination'),'.',variables('TableNameOfDestination'))}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "adfdemo_asql_dataset_data_destination_table",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": {
								"value": "@variables('SchemaNameOfDestination')",
								"type": "Expression"
							},
							"TableName": {
								"value": "@variables('TableNameOfDestination')",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_Get Max LastModifytime Of Destination",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "@{variables('SchemaNameOfSource')}.@{variables('TableNameOfSource')}"
					},
					{
						"name": "Destination",
						"value": "@{variables('SchemaNameOfDestination')}.@{variables('TableNameOfDestination')}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM @{concat(variables('SchemaNameOfSource'),'.',variables('TableNameOfSource'))} WHERE LastModifytime > '@{activity('Lookup_Get Max LastModifytime Of Destination').output.firstRow.MaxLastModifytime}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "PersonID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PersonId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "LastModifytime",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LastModifytime",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "adfdemo_asql_dataset_data_source_table",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": {
								"value": "@variables('SchemaNameOfSource')",
								"type": "Expression"
							},
							"TableName": {
								"value": "@variables('TableNameOfSource')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "adfdemo_asql_dataset_data_destination_table",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": {
								"value": "@variables('SchemaNameOfDestination')",
								"type": "Expression"
							},
							"TableName": {
								"value": "@variables('TableNameOfDestination')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"variables": {
			"SchemaNameOfSource": {
				"type": "String",
				"defaultValue": "dbo"
			},
			"TableNameOfSource": {
				"type": "String",
				"defaultValue": "data_source_table"
			},
			"SchemaNameOfDestination": {
				"type": "String",
				"defaultValue": "dbo"
			},
			"TableNameOfDestination": {
				"type": "String",
				"defaultValue": "data_destination_table"
			}
		},
		"folder": {
			"name": "pipeline_dbw"
		},
		"annotations": [],
		"lastPublishTime": "2024-10-30T06:14:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}