pipeline/pipeline_full_loop_allfile_diffcontain_excel_to_mssql_fzx.json
{
	"name": "pipeline_full_loop_allfile_diffcontain_excel_to_mssql_fzx",
	"properties": {
		"activities": [
			{
				"name": "Get_Table_List",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT 'dbo' AS SchemaName, 'STG_Sales_Product' AS TableName, 'adfdemo' AS ContainName, N'产品数据' AS FolderName\nUNION ALL\nSELECT 'dbo' AS SchemaName, 'STG_Sales_Order' AS TableName, 'adfdemo' AS ContainName, N'订单数据' AS FolderName\nUNION ALL\nSELECT 'dbo' AS SchemaName, 'STG_Sales_Area' AS TableName, 'adfdemo' AS ContainName, N'地点数据' AS FolderName\nUNION ALL\nSELECT 'dbo' AS SchemaName, 'STG_Sales_Customer' AS TableName, 'adfdemo' AS ContainName, N'客户数据' AS FolderName ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "adf_asql_dataset_fzx",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": " ",
							"TableName": "  "
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_TableList",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_Table_List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_Table_List').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Insert_Data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"additionalColumns": [
										{
											"name": "InsertDate",
											"value": {
												"value": "@addHours(utcNow(),8)",
												"type": "Expression"
											}
										},
										{
											"name": "UpdateDate",
											"value": {
												"value": "@addHours(utcNow(),8)",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@concat(pipeline().parameters.FolderName,'/',item().FolderName)",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@concat(pipeline().parameters.FileName,'.',pipeline().parameters.FileType)\n",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"preCopyScript": {
										"value": "@concat('Truncate Table dbo.',item().TableName)",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "adf_blob_fzx",
									"type": "DatasetReference",
									"parameters": {
										"containname": {
											"value": "@item().ContainName",
											"type": "Expression"
										},
										"foldername": " ",
										"filename": " "
									}
								}
							],
							"outputs": [
								{
									"referenceName": "adf_mssql_test_fzx",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@item().SchemaName",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"ContainName": {
				"type": "string",
				"defaultValue": "adfdemo"
			},
			"FolderName": {
				"type": "string",
				"defaultValue": "ssisfile"
			},
			"FileType": {
				"type": "string",
				"defaultValue": "xlsx"
			},
			"FileName": {
				"type": "string",
				"defaultValue": "*"
			}
		},
		"variables": {
			"filename": {
				"type": "String",
				"defaultValue": "test"
			},
			"arraylist": {
				"type": "Array",
				"defaultValue": [
					"1",
					"2",
					"4",
					"6",
					"3",
					"6"
				]
			},
			"test": {
				"type": "String"
			}
		},
		"folder": {
			"name": "pipeline_fzx"
		},
		"annotations": [],
		"lastPublishTime": "2025-01-07T03:51:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}