pipeline/pipeline_increament_loop_blob_excel_to_asql_adfdemo_stg_sales2.json
{
	"name": "pipeline_increament_loop_blob_excel_to_asql_adfdemo_stg_sales2",
	"properties": {
		"description": "循环对比",
		"activities": [
			{
				"name": "LK_Get File Max LastModifiedTime",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT ISNULL(MAX(file_last_modify_time),'1900-01-01') AS MaxLastModifiedTime FROM @{concat(pipeline().parameters.STGSchemaName,'.',pipeline().parameters.STGTableName)}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SourceDataset_dbw",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": {
								"value": "@pipeline().parameters.STGSchemaName",
								"type": "Expression"
							},
							"TableName": {
								"value": "@pipeline().parameters.STGTableName",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Get Files",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "LK_Get File Max LastModifiedTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "adfdemo_storage_dataset_sales_dbw",
						"type": "DatasetReference",
						"parameters": {
							"Container": "adfdemo",
							"Directory": "Sales_dbw",
							"FileName": " ",
							"TableName": " "
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeStart": {
							"value": "@addSeconds(addHours(activity('LK_Get File Max LastModifiedTime').output.firstRow.MaxLastModifiedTime,-8),1)",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Filter Valid Files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Files').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(startswith(item().name,'Sales_'),endswith(item().name,'xlsx'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach Files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter Valid Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter Valid Files').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get File Metadata",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "adfdemo_storage_dataset_sales_dbw",
									"type": "DatasetReference",
									"parameters": {
										"Container": "adfdemo",
										"Directory": "Sales_dbw",
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"TableName": "Sheet1"
									}
								},
								"fieldList": [
									"lastModified",
									"itemName"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get File Metadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('Get File Metadata').output.lastModified,activity('LK_Get File Max LastModifiedTime').output.firstRow.MaxLastModifiedTime)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy data1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ExcelSource",
												"additionalColumns": [
													{
														"name": "file_name",
														"value": {
															"value": "@activity('Get File Metadata').output.itemName",
															"type": "Expression"
														}
													},
													{
														"name": "file_last_modify_time",
														"value": {
															"value": "@addHours(activity('Get File Metadata').output.lastModified,8)",
															"type": "Expression"
														}
													}
												],
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												}
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"name": "file_name",
															"type": "String"
														},
														"sink": {
															"name": "file_name",
															"type": "String",
															"physicalType": "nvarchar"
														}
													},
													{
														"source": {
															"name": "file_last_modify_time",
															"type": "String"
														},
														"sink": {
															"name": "file_last_modify_time",
															"type": "DateTime",
															"physicalType": "datetime"
														}
													},
													{
														"source": {
															"name": "ProductId",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "productId",
															"type": "Int32",
															"physicalType": "int"
														}
													},
													{
														"source": {
															"name": "Qty",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "qty",
															"type": "Int32",
															"physicalType": "int"
														}
													},
													{
														"source": {
															"name": "UnitPrice",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "unit_price",
															"type": "Decimal",
															"physicalType": "decimal",
															"scale": 4,
															"precision": 19
														}
													},
													{
														"source": {
															"name": "SubTotal",
															"type": "String",
															"physicalType": "String"
														},
														"sink": {
															"name": "subtotal",
															"type": "Decimal",
															"physicalType": "decimal",
															"scale": 4,
															"precision": 19
														}
													}
												],
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "adfdemo_storage_dataset_sales_dbw",
												"type": "DatasetReference",
												"parameters": {
													"Container": "adfdemo",
													"Directory": "Sales_dbw",
													"FileName": {
														"value": "@activity('Get File Metadata').output.itemName",
														"type": "Expression"
													},
													"TableName": "Sheet1"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "SourceDataset_dbw",
												"type": "DatasetReference",
												"parameters": {
													"SchemaName": "dbo",
													"TableName": {
														"value": "@pipeline().parameters.STGTableName",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"STGSchemaName": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"STGTableName": {
				"type": "string",
				"defaultValue": "adfdemo_stg_sales"
			}
		},
		"folder": {
			"name": "pipeline_dbw"
		},
		"annotations": [],
		"lastPublishTime": "2024-10-31T07:23:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}