pipeline/pipeline_parameterdemo_mhy.json
{
	"name": "pipeline_parameterdemo_mhy",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"value": ""
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "adfdemo_asql_dataset",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": {
								"value": "@pipeline().parameters.schemeName",
								"type": "Expression"
							},
							"tableName": {
								"value": "@pipeline().parameters.tableName",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Filter_Para_AnimalsArray",
				"type": "Filter",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.animalArray",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item(),'Dog' )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Filter_Parameter_numsArray",
				"type": "Filter",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.numsArray",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(item(), 3)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Filter_Para_AnimalsArray",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_Para_AnimalsArray').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable3",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "animal",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Switch1",
				"type": "Switch",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@pipeline().parameters.route",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "A",
							"activities": [
								{
									"name": "Set variable4",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "letter",
										"value": "A"
									}
								}
							]
						},
						{
							"value": "B",
							"activities": [
								{
									"name": "Set variable6",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "letter",
										"value": "B"
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "Set variable5",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "letter",
								"value": "0"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"schemeName": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"tableName": {
				"type": "string",
				"defaultValue": "b"
			},
			"dbName": {
				"type": "string",
				"defaultValue": "TestDataSource"
			},
			"animalArray": {
				"type": "array",
				"defaultValue": [
					"Dog",
					"Cat",
					"Bear",
					"Bird"
				]
			},
			"numsArray": {
				"type": "array",
				"defaultValue": [
					1,
					2,
					3,
					4,
					5,
					6
				]
			},
			"route": {
				"type": "string"
			}
		},
		"variables": {
			"name": {
				"type": "String",
				"defaultValue": "123456"
			},
			"animal": {
				"type": "String"
			},
			"letter": {
				"type": "String"
			}
		},
		"folder": {
			"name": "pipeline_mhy"
		},
		"annotations": [],
		"lastPublishTime": "2024-12-27T07:31:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}