pipeline/pipeline_increament_loop_blob_excel_to_asqladfdemo_storage_mhy.json
{
	"name": "pipeline_increament_loop_blob_excel_to_asqladfdemo_storage_mhy",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata File",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Lookup Max LastModifyTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "adfdemo_storage_ds_mhy",
						"type": "DatasetReference",
						"parameters": {
							"container": "adfdemo",
							"directory": "Sales",
							"file": "Sales_2020.xlsx",
							"sheet": "Sheet1"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeStart": {
							"value": "@addSeconds(addHours(activity('Lookup Max LastModifyTime').output.firstRow['max file last modifty time'], -8), 1)",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Filter File by ExtendName",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata File').output.lastModified",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name,'xlsx')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter File by ExtendName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter File by ExtendName').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata of File",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "adfdemo_storage_ds_mhy",
									"type": "DatasetReference",
									"parameters": {
										"container": "adfdemo",
										"directory": "Sales",
										"file": {
											"value": "@item().name",
											"type": "Expression"
										},
										"sheet": "Sheet1"
									}
								},
								"fieldList": [
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Get Metadata of File",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{'adfdemo'}/@{'Sales'}/@{item().name}"
								},
								{
									"name": "Destination",
									"value": "@{'dbo'}.@{'adfdemo_stg_sales_mhy'}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"additionalColumns": [
										{
											"name": "file_name",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										},
										{
											"name": "file_last_modifty_time",
											"value": {
												"value": "@addHours(activity('Lookup Max LastModifyTime').output,8)",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "file_name",
												"type": "String"
											},
											"sink": {
												"name": "file_name",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "file_last_modifty_time",
												"type": "String"
											},
											"sink": {
												"name": "file_last_modifty_time",
												"type": "DateTime",
												"physicalType": "datetime"
											}
										},
										{
											"source": {
												"name": "Age",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "product_id",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "Name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "qty",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "Id",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "unit_price",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 4,
												"precision": 19
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "adfdemo_storage_ds_mhy",
									"type": "DatasetReference",
									"parameters": {
										"container": "adfdemo",
										"directory": "Sales",
										"file": {
											"value": "@item().name",
											"type": "Expression"
										},
										"sheet": "Sheet1"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "adfdemo_asql_ds_mhy",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": "dbo",
										"table": "adfdemo_stg_sales_mhy"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup Max LastModifyTime",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "  select isnull(max(file_last_modifty_time),'1900-01-01')max_file_last_modify_time from dbo.adfdemo_stg_sales_mhy;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "adfdemo_asql_ds_mhy",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "dbo",
							"table": "adfdemo_stg_sales_mhy"
						}
					}
				}
			}
		],
		"folder": {
			"name": "pipeline_mhy"
		},
		"annotations": [],
		"lastPublishTime": "2024-12-30T02:28:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}