pipeline/pipeline_increament_loop_blob_excel_to_asql_adfdemo_stg_sales1.json
{
	"name": "pipeline_increament_loop_blob_excel_to_asql_adfdemo_stg_sales1",
	"properties": {
		"activities": [
			{
				"name": "Get Files",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Lookup_Get File Max LastModifiedTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "adfdemo_storage_dataset_sales_dbw",
						"type": "DatasetReference",
						"parameters": {
							"Container": "adfdemo",
							"Directory": "Sales_dbw",
							"FileName": " ",
							"TableName": " "
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeStart": {
							"value": "@addSeconds(addHours(activity('Lookup_Get File Max LastModifiedTime').output.firstRow.max_file_last_modify_time,-8),1)",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Filter files by extendname",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Files').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name,'.xlsx')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach Files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter files by extendname",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter files by extendname').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata1",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "adfdemo_storage_dataset_sales_dbw",
									"type": "DatasetReference",
									"parameters": {
										"Container": "adfdemo",
										"Directory": "Sales_dbw",
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"TableName": "Sheet1"
									}
								},
								"fieldList": [
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Get Metadata1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{'adfdemo'}/@{'Sales_dbw'}/@{'Sales_2020.xlsx'}"
								},
								{
									"name": "Destination",
									"value": "@{'dbo'}.@{'adfdemo_stg_sales'}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"additionalColumns": [
										{
											"name": "file_name",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										},
										{
											"name": "file_last_modify_time",
											"value": {
												"value": "@addHours(activity('Get Metadata1').output.lastModified,8)",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "file_name",
												"type": "String"
											},
											"sink": {
												"name": "file_name",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "file_last_modify_time",
												"type": "String"
											},
											"sink": {
												"name": "file_last_modify_time",
												"type": "DateTime",
												"physicalType": "datetime"
											}
										},
										{
											"source": {
												"name": "ProductId",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "productId",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "Qty",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "qty",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "UnitPrice",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "unit_price",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 4,
												"precision": 19
											}
										},
										{
											"source": {
												"name": "SubTotal",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "subtotal",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 4,
												"precision": 19
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "adfdemo_storage_dataset_sales_dbw",
									"type": "DatasetReference",
									"parameters": {
										"Container": "adfdemo",
										"Directory": "Sales_dbw",
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"TableName": "Sheet1"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "adfdemo_asql_dataset_sales",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "dbo",
										"TableName": "adfdemo_stg_sales"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup_Get File Max LastModifiedTime",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select isnull(max(file_last_modify_time),'1900-01-01') max_file_last_modify_time from adfdemo_stg_sales",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "adfdemo_asql_dataset_sales",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dbo",
							"TableName": "adfdemo_stg_sales"
						}
					}
				}
			}
		],
		"folder": {
			"name": "pipeline_dbw"
		},
		"annotations": [],
		"lastPublishTime": "2024-10-30T07:13:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}