pipeline/ProjectSources_Data_lrs.json
{
	"name": "ProjectSources_Data_lrs",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Project_Name",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "adfdemo_asql_sales_lrs",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"table": "Projectsources_lrs"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_file",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Project_Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Project_Name').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Get Metadata filename",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false,
										"wildcardFolderPath": {
											"value": "@concat('ProjectSources_lrs/',item().name)",
											"type": "Expression"
										},
										"wildcardFileName": "*.xlsx",
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ProjectSources_lrs",
									"type": "DatasetReference",
									"parameters": {
										"containar": "adfdemo",
										"directory": {
											"value": "@concat('ProjectSources_lrs/',item().name)",
											"type": "Expression"
										},
										"file": "*.xlsx"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "adfdemo_asql_sales_lrs",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": {
											"value": "@item().tablename",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Get Metadata filename",
							"type": "GetMetadata",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ProjectSources_lrs",
									"type": "DatasetReference",
									"parameters": {
										"containar": "adfdemo",
										"directory": {
											"value": "@concat('ProjectSources_lrs/',item().name)",
											"type": "Expression"
										},
										"file": "*.xlsx",
										"sheet": "sheet1"
									}
								},
								"fieldList": [
									"childItems"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "pipeline_lrs"
		},
		"annotations": [],
		"lastPublishTime": "2025-08-18T09:43:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}