pipeline/YD_Test_copy1.json
{
	"name": "YD_Test_copy1",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select isnull(max(Inserttime),'1900-01-01') [max] from @{variables('SQLTable')}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "YD_TEST_SQL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Script2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "YD_Test",
						"type": "DatasetReference",
						"parameters": {
							"directory": {
								"value": "@variables('Directory')",
								"type": "Expression"
							},
							"file": " ",
							"sheet": " ",
							"range": " "
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"modifiedDatetimeStart": {
							"value": "@addSeconds(addHours(activity('Lookup1').output.firstRow.max,-8),1)",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().name,'.xlsx')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1_copy1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Get Metadata2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "adfdemo/@{'YD_Test'}/@{'辅助余额表-成本231031.xlsx'}"
								},
								{
									"name": "Destination",
									"value": "dbo.YD_Test"
								}
							],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"additionalColumns": [
										{
											"name": "Inserttime",
											"value": {
												"value": "@replace(substring(addHours(activity('Get Metadata2').output.lastModified,8),0,23),'T',' ')",
												"type": "Expression"
											}
										},
										{
											"name": "Date",
											"value": {
												"value": "@substring(item().Name,variables('StringStart'),8)",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "YD_Test",
									"type": "DatasetReference",
									"parameters": {
										"directory": {
											"value": "@variables('Directory')",
											"type": "Expression"
										},
										"file": {
											"value": "@item().name",
											"type": "Expression"
										},
										"sheet": {
											"value": "@variables('Sheet')",
											"type": "Expression"
										},
										"range": {
											"value": "@variables('Range')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "YD_TEST_SQL",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Script1_copy1",
							"type": "Script",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "Copy data1_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "YD_Text_SQL",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "update @{variables('SQLTable')} set [Inserttime]= '@{replace(substring(addHours(activity('Get Metadata2').output.lastModified,8),0,23),'T',' ')}' where [Inserttime] is null;\nupdate @{variables('SQLTable')} set [Date]= '@{substring(item().Name,variables('StringStart'),8)}' where [Date] is null",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Get Metadata2",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "YD_Test",
									"type": "DatasetReference",
									"parameters": {
										"directory": {
											"value": "@variables('Directory')",
											"type": "Expression"
										},
										"file": {
											"value": "@item().name",
											"type": "Expression"
										},
										"sheet": " ",
										"range": " "
									}
								},
								"fieldList": [
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			},
			{
				"name": "Script2",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "YD_Text_SQL",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "truncate table @{variables('SQLTable')};",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"Sheet": {
				"type": "String",
				"defaultValue": "Sheet0"
			},
			"Range": {
				"type": "String",
				"defaultValue": "A4"
			},
			"StringStart": {
				"type": "Integer",
				"defaultValue": 9
			},
			"SQLTable": {
				"type": "String",
				"defaultValue": "dbo.YD_Test2"
			},
			"Directory": {
				"type": "String",
				"defaultValue": "YD_Test"
			}
		},
		"folder": {
			"name": "Pipeline_L"
		},
		"annotations": [],
		"lastPublishTime": "2023-12-21T05:32:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}